/* DEFAULT DETTINGS */
html, body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0; }
h1, h2, h3, h4, h5, h6{
    margin: 0 0 0 0;
    color: black;
}
ul, li, a, a:link, a:visited, a:hover, a:focus {
    list-style:none;
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}
.btn{
    margin-bottom: none;
}
.col-lg-15{
    width:20%;
}

/* Input settings*/
input, .input , .input-lg{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px #ADAFB2 solid;
    border-radius: 0;
    outline: none !important;
    background-color: inherit;
}
.input-group-addon {
    border: none;
    border-radius: none;
}
textarea.form-control, select.form-control{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px #ADAFB2 solid;
    border-radius: 0;
}
textarea.form-control{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px #ADAFB2 solid;
    border-radius: 0;
}
.form-control::-webkit-input-placeholder { color: #525252; }
.form-control:-moz-placeholder { color: #525252; }
.form-control::-moz-placeholder { color: #525252; }
.form-control:-ms-input-placeholder { color: #525252; }
.btn{
    border-radius: 0;
}

/* navbar-default */
.navbar-default{
    border-radius:0;
    border: none;
}
.navbar-default .navbar-nav>li>a{
    color: black;
}

/* top_navbar */
#top_navbar{
    margin: 0 auto;
    background-color: #93FAB4;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
#top_navbar.scrolled {
    background: rgb(129, 223, 162);
    background-color:rgba(158,250,187,0.95);
}

#main_topnav, #topnav_brand{
    display: inline-block;
    float: none!important;
    margin: 7.5px -15px;
}
#main_topnav{
    padding: 0;
}
#topnav_brand{
    padding: 0 15px 0 15px;
}
#top_menus{
    border-bottom:  2px solid black;
}

#topnav_menu{
    float: right;
}
/* main_navbar */
#site_logo{
    max-width: 230px;
}
#mainnav_menu{
    padding: 0;
}
#mainnav_menus {
    display: inline-block;
}
#mainnav_menus .border-menu a{
    padding: 15px 25px 15px 0;
}
.mainnav_subs li{
    padding: 15px;
    text-align: center;
    display: inline-block;
}
.mainnav_sub h4{
    font-size: 15px;
    font-family: NotoSansKR-Regular;
    color: black;
}
.mainnav_sub img{
    max-width: 70px;
    padding: 10px;
}
#mainnav_search{
    float: right;
}
#mainnav_search li form{
    padding-right: 0;
}
#nav_search_input input{
    width: 180px;
    height: 35px;
    border: none;
    background-color: #80E09F;
}
#nav_search_addon{
    min-width: 50px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    font-family: NotoSansKR-Medium;
    padding: 0 0 0 0;
    background-color: #80E09F;
}
#nav_search_addon a{
    padding: 6px 12px;
}
#mainnav_search_xs{
    display: none;
}
#sm-menu-btn{
    border: none;
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover {
    background-color: #80E09F;
}
.border-menu>a{
    font-size: 15px;
}
/* main container*/
.row#banners{
    margin-bottom: 15px;
}

/* footer */
.footer{
    margin-top: 60px;
}
#footer_guide, #footer_info{
    margin: 0;
}
#footer_guide{
    background-color: #80E09F;
    padding: 15px 0;
}
#footer_guide>.wrapper, #footer_info>.wrapper{
    margin: auto;
}
.ft_detail{
    margin-bottom: 5px;
}
.ft_titles{
    font-size: 15px;
    font-family: NotoSansKR-Bold;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid black;
}
#fg_infos{
    padding: 0 0 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.fg_info{
    display: inline-block;
}
#fg_qna, #fg_product{
    padding: 15px 10px;
    border: 2px solid black;
}
#fg_qna>h4, #fg_product>h4{
    display: inline-block;
}
#fg_qna{
    border: 2px solid black;
    margin-bottom: 10px;
}
.fg_arrow{
    float: right;
}
#fg_mailing{
    padding: 10px 10px;
    border: 2px solid black;
}
#fg_mailing>.ft_titles{
    margin-bottom: 10px;
}
#mailing_input{
    margin-top: 10px;
}
#mailing_input input{
    border: 0;
    background-color: #78C290;
    font-size: 13px;
    color: black;
}
#mailing_addon{
    background-color: #78C290;
    max-width: 45px;
}
.ft_strong{
    margin: 10px 0;
    font-family: NotoSansKR-Bold;
}
#ft_logo{
    max-height: 15px;
}
h4.ft{
    font-size: 15px;
    font-family: NotoSansKR-Medium;
}
#footer_info{
    background-color: #78C290;
}
#fi{
    margin: 10px 0;
    padding: 10px;
}
#fi h5:first-child{
    margin-bottom: 5px;
}

/* GRID */
/* mobile and tablet */
@media only screen and (max-width:480px){
    .hidden-mobile{
        display: none;
    }
    .item{
        margin-bottom: 15px !important;
    }
    nav#top_navbar{
        border-bottom: 1px solid #80E09F;
    }
    #topnav_menu{
        float: none !important;
        text-align: center;
        border-top: 2px solid #80E09F;
    }
    #main_topnav li a, #sub_topnav li a{
        font-size: 18px;
        font-family:'NotoSansKR-Medium';
    }
    .border-menu{
        margin: 10px 0;
    }
    #main_navbar{
        display: none;
    }
    #sub_topnav_search{
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 450px;
    }
    #nav_search_input input, #nav_search_addon{
        border: none;
    }
    #sub_topnav{
        border-top: 1px solid #80E09F;
        margin: 0 -15px;
        background-color: #eee;
    }
    #sub_topnav_input{
        border-bottom: none;
        background-color: #80E09F;
    }
    #topnav_brand{
        display: block;
    }
    #top_navbar>.navbar_container {
        border-bottom: none;
    }
    .navbar-fixed-top .navbar-collapse {
     max-height: 650px;
    }
    /* etc */
    .spt{
        width:100%;
        padding-bottom: 15px;
    }
    th.title{
        width: 80% !important;
    }
    th.date{
        width: 20% !important;
    }
    .mypage_ctg{
        background-color: #f5f5f5;
        text-align: center;
        width: 32.5% !important;
        margin: 1px;
    }
    #reorder_date{
        width: 100%;
        margin-bottom: 15px;

    }
    .label-white{
        width: 19.3%;
        padding: 10px 0;
    }
    #reorder_status{
        width: 100%;
    }
    #reorder_rst{
        height: 35px;
    }
}
/* xs */
@media only screen and (min-width:481px) and (max-width:767px){
    div.nav_reorder{
        display: none;
    }
    div#nav_reorder_select{
        margin-bottom: 30px;
    }
    div#item_list{
        margin-top: 60px;
    }
    .show_mb{
        display: none;
    }
    /* etc */
    .container{
        margin-top: 140px;
    }
    .mypage_ctg{
        background-color: #F5F5F5;
        text-align: center;
        width: 32.8% !important;
        margin: 1px;
    }
    #sub_topnav_search{
        width: 450px;
    }
}
/* mobile and tablet */
@media only screen and (max-width:767px){
    /* topbar minimize*/
    .hidden-mobile{
        display: none;
    }
    .item{
        margin-bottom: 15px !important;
    }
    nav#top_navbar{
        border-bottom: 1px solid #80E09F;
    }
    #topnav_menu{
        float: none !important;
        text-align: center;
        border-top: 2px solid #80E09F;
    }
    .navbar-fixed-top .navbar-collapse {
        max-height: 650px;
    }
    #main_topnav li a, #sub_topnav li a {
        font-size: 18px;
        font-family: 'NotoSansKR-Medium';
    }
    .border-menu{
        margin: 10px 0;
    }
    #main_navbar{
        display: none;
    }
    #sub_topnav_search{
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #nav_search_input input, #nav_search_addon{
        border: none;
    }
    #sub_topnav{
        border-top: 1px solid #80E09F;
        margin: 0 -15px;
        background-color: #eee;
    }
    #sub_topnav_input{
        border-bottom: none;
        border: none;
        background-color: #80E09F;
    }
    #topnav_brand{
        display: block;
    }
    #top_navbar>.navbar_container {
        border-bottom: none;
    }
    /* etc */
    .container{
        margin-top: 100px;
    }
    #ctg_menu_selected{
        background-color: black;
    }
    #ctg_menu_selected h4{
        color: white;
        font-family: NotoSansKR-Bold;
    }
    #reorder_date, #reorder_status{
        padding: 0;
    }
    .table-responsive{
        margin: 0;
        border: none;
    }
    #orderTable{
        padding: 0;
    }
    #search_nav{
        padding: 0px;
    }
    #fg_call, #fg_deposit{
        margin-bottom: 15px;
    }
    #fg_product{
        margin-bottom: 10px;
    }
    .fg_info{
        padding: 0 7px 0 0;
    }
}
/* sm */
@media only screen and (min-width:768px) and (max-width:991px){
    /* topnav */
    .navbar_container, #footer_guide>.wrapper, #footer_info>.wrapper{
        width: 720px;
    }
    .show_mb{
        display: none;
    }
    ul#sub_topnav{
        display: none;
    }
    #top_navbar{
        border-bottom: 1px solid #80E09F;
    }
    /* etc */
    .container{
        margin-top: 140px;
    }
    .mypage_ctg{
        background-color: #f5f5f5;
        text-align: center;
        width: 32.5% !important;
        margin: 1px;
    }
    #ctg_menu_selected{
        background-color: black;
    }
    #ctg_menu_selected h4{
        color: white;
        font-family: NotoSansKR-Bold;
    }
    #fg_call, #fg_deposit{
        margin-bottom: 15px;
    }
    .fg_info{
        padding: 0 20px 0 0;
    }
}
/* md */
@media only screen and (min-width:992px) and (max-width:1199px){
    .col-lg-15{
        width:20%;
    }
    /* topnav */
    .navbar_container, #footer_guide>.wrapper, #footer_info>.wrapper{
        width: 970px;
    }
    .show_mb{
        display: none;
    }
    ul#sub_topnav{
        display: none;
    }
    #top_navbar{
        border-bottom: 1px solid #80E09F;
    }
    /* etc */
    .container{
        margin-top: 140px;
    }
    .mypage_ctg{
        background-color: #f5f5f5;
        text-align: center;
        width: 32.5% !important;
        margin: 1px;
    }
    #ctg_menu_selected{
        background-color: black;
    }
    #ctg_menu_selected h4{
        color: white;
        font-family: NotoSansKR-Bold;
    }
    .fg_info{
        padding: 0 20px 0 0;
    }
}
/* lg */
@media only screen and (min-width: 1200px) {
    .col-lg-15{
        width:20%;
    }
    /* topnav */
    .navbar_container, #footer_guide>.wrapper, #footer_info>.wrapper{
        width: 1170px;
    }
    .show_mb{
        display: none;
    }
    ul#sub_topnav{
        display: none;
    }
    .mainnav_subs li{
        margin: 0 15px;
    }
    #top_navbar{
        border-bottom: 1px solid #80E09F;
    }
    /* etc */
    .container{
        margin-top: 140px;
    }
    .mypage_ctg{
        background-color: #f5f5f5;
        text-align: center;
        width: 16.4% !important;
        margin: 1px;
    }
    #ctg_menu_selected{
        background-color: black;
    }
    #ctg_menu_selected h4{
        color: white;
        font-family: NotoSansKR-Bold;
    }
    .fg_info{
        padding: 0 20px 0 0;
    }
}


/* orderNShipping.css */
.row{
    padding: 0 15px 0 15px;
}
h4{
    font-family: NotoSansKR-Medium;
    font-size: 15px;
}
#page_title{
    font-family: NotoSansKR-Bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.label-white{
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    font-size: 13px;
    cursor: pointer;
}
.select-xs{
    font-size: 13px;
    height: 21.4888px;
    width: 100px;
    padding: 0 2px 0 2px;
    border: 1px #ADAFB2 solid;
    border-radius: 0;
    float: right;
}

#mypageCategory{
    margin: 15px 0 30px 0;
    padding: 0;
}
h4.name {
    padding: 18px 0;
}

#searchTable{
    margin: 15px 0;
    padding: 0;
}

/*Order Table*/
#orderTable{
    margin-bottom: 20px;
}
#orderTable table{
    border-top: 2px solid black;
}
.mdl{
    text-align: center;
}
ul.mypage_ctg{
    padding-left: 0;
}
a{
    color: inherit;
}
td{
    padding: 15px 0 !important;
}
tr:hover{
    background-color: #f5f5f5;
}
#table_pagination{
    text-align: center;
}
.pagination{
    margin: 0 0 20px 0;
}
.a_accent{
    font-family: NotoSansKR-Medium;
}
.btn_order_edit{
    cursor: pointer;
    background-color: black;
    padding: 5px 8px;
    border-radius: 0;
}

/* shipping_info */
#shipping_info{
    margin-bottom: 60px;
}
#shipping_title{
    font-family: NotoSansKR-Bold;
    font-size: 18px;
    margin-bottom: 20px;
}
h4.infos{
    margin-bottom: 5px;
    line-height: 140%;
    word-break:break-all;
    white-space: pre-line;
}

/* pagination*/
.pagination>li>a, .pagination>li>span {
    color: black;
    border: none;
    margin: 0 5px;
}
.pagination>li>a:hover, .pagination>li>span:hover,
.pagination>li>a:focus, .pagination>li>span:focus{
    background-color: #93FAB4;
}
.pagination>li:first-of-type>a, .pagination>li:last-of-type>a{
    background-color: white;
    border: 2px solid black;
    width: 33px;
    height: 33px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 3px 6px 9px 6px;
}
.pagination>li:first-of-type>a:hover, .pagination>li:last-of-type>a:hover{
    background-color: black;
    color: white;
}
